---
---

$black:     #131310;
$blue:      #CEF;
$grey:      #EEE;
$grey-dark: #434340;
$red:       #F22;
$white:     #FFF;

html {
    font-size: 16px;
    @media (min-width: 600px) {
        font-size: 18px;
    }
    @media (min-width: 1000px) {
        font-size: 20px;
    }
}

body {
    margin: 0 auto;
    padding: 0;
    background: $white;
    // background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $blue 50%, $blue 100%);
    // background-size: 3rem 3rem;
    color: $grey-dark;
    font-family: "Sentinel A", "Sentinel B", serif;
    line-height: 1.5rem;
    -webkit-font-feature-settings: "dlig", "kern", "liga";
       -moz-font-feature-settings: "dlig", "kern", "liga";
        -ms-font-feature-settings: "dlig", "kern", "liga";
         -o-font-feature-settings: "dlig", "kern", "liga";
            font-feature-settings: "dlig", "kern", "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
}

a {
    background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $black 50%, $black 100%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    color: $black;
    text-decoration: none;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 1px 1px;
    }
    &:focus, &:hover {
        color: $red;
        background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $red 50%, $red 100%);
    }
}

blockquote, figure, ol, p, ul {
    margin: 0 0 1.5rem;
}

blockquote {
    padding: 0 0 0 0.75rem;
    border-left: 0.25rem solid $grey;
    font-style: italic;
    em {
        font-style: normal;
    }
    @media (min-width: 500px) {
        padding: 0 0 0 1.25rem;
    }
}

figure {
    text-align: center;
    a {
        background-image: none;
        &:focus, &:hover {
            background-image: none;
        }
    }
    img {
        max-width: 100%;
    }
    &.full-width {
        img {
            width: 100%;
        }
    }
}

figcaption {
    font-size: 0.75rem;
    font-style: italic;
    a {
        background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $black 50%, $black 100%);
        background-position: bottom;
        background-repeat: repeat-x;
        background-size: 2px 2px;
        &:focus, &:hover {
            color: $red;
            background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $red 50%, $red 100%);
        }
    }
}

h1, h2, h3 {
    max-width: 27rem;
    color: $black;
    -webkit-hyphens: none;
       -moz-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
}

h1 {
    margin: 4.5rem 0 0;
}

h2 {
    margin: 1.5rem 0 0;
    font-size: 1.2rem;
    line-height: 3rem;
}

h3 {
    margin: 1.5rem 0 0;
    font-size: 1rem;
    line-height: 1.5rem;
}

header {
    time {
        display: block;
        margin: 0 0 1.5rem;
        color: $grey-dark;
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
}

label {
    font-style: italic;
}

textarea {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    display: block;
    width: 100%;
    height: 9rem;
    margin: 0 0 1.5rem;
    padding: 0.75rem;
    border: none;
    background: $grey;
    font-family: inherit;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.file-input-hover {
    background: $blue;
    color: $blue;
}

button, input[type="button"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    margin: 0 0 1.5rem;
    padding: 0.75rem 1.5rem;
    background: $black;
    color: $white;
    border: none;
    border-radius: 0.25rem;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    &:focus, &:hover {
        background: $red;
    }
}

.container {
    max-width: 36rem;
    margin: 0 auto;
    padding: 0 0.75rem;
    @media (min-width: 600px) {
        padding: 0 1.5rem;
    }
    @media (min-width: 1000px) {
        padding: 0 3rem;
    }
}

.site-header {
    padding: 3rem 0;
    background: $grey;
    color: $black;
    transition: padding 0.2s linear;
}

.site-header--home {
    @extend .site-header;
    padding: 6rem 0 3rem;
    @media (min-width: 600px) {
        padding: 9rem 0 3rem;
    }
}

.site-main {
    padding: 0 0 3rem;
    background-image: linear-gradient(180deg, transparent 0%, transparent 50%, $black 50%, $black 100%);
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 2px 2px;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-size: 1px 1px;
    }
}

.site-footer {
    margin: 1.5rem 0 0;
    color: $black;
    font-size: 0.75rem;
}

.introduction {
    max-width: 27rem;
    margin: 0;
    a {
        &:first-child {
            background-image: none;
            font-weight: 700;
            &:focus, &:hover {
                background-image: none;
            }
        }
    }
}

.article--text {
    h1 {
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}

.article--link {
    h1 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.article--page {
    h1 {
        margin: 4.5rem 0 1.5rem;
        font-size: 1.4rem;
        line-height: 1.5rem;
    }
}

.permalink {
    display: inline-block;
    height: 0.75rem;
    width: 0.75rem;
    margin: 0 0 0 0.25rem;
    background-image: url('../images/link-icon.svg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: 0.75rem 2.25rem;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    &:focus, &:hover {
        background-image: url('../images/link-icon.svg');
        background-position: bottom;
    }
}

.controls {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
    input {
        display: block;
        width: 100%;
        margin: 0 0 0.75rem;
        @media (min-width: 1000px) {
            float: left;
            display: inline-block;
            width: auto;
            margin: 0 0.75rem 1.5rem 0;
        }
    }
}