    <footer class="site-footer" role="contentinfo">
        <div class="container">
            <p>&copy; {% assign firstPost = site.posts | last %}{{ firstPost.date | date: "%Y" }}–{{ site.time | date: "%Y" }} {{ site.author }}. Follow me on <a href="https://twitter.com/d_leech">Twitter</a> and <a href="https://github.com/danleech">GitHub</a>.</p>
        </div>
    </footer>
    <script src="https://use.typekit.net/nwl7vhi.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>{% include scripts.min.js %}</script>
</body>
</html>