<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//cloud.typography.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <title>{% if page.title != 'Homepage' %}{{ page.title }} — {% endif %}{{ site.name }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="//cloud.typography.com/7437472/747866/css/fonts.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="http://danleech.com/feed/">
    {% if page.layout != post %}
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ site.url }}">
    {% else %}
    <meta property="article:author" content="{{ site.author }}">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ site.url }}{{ page.url }}">
    {% endif %}
    <meta property="og:image" content="{{ site.url }}/images/og.png">
    <meta property="og:site_name" content="{{ site.name }}">
    <meta property="og:type" content="article">
</head>

<body>
    <header class="site-header" role="banner">
        <p class="introduction">Hi. I’m <a href="/">{{ site.author }}</a>. {{ site.description }} Follow me on <a href="https://twitter.com/d_leech">Twitter</a> and <a href="https://github.com/danleech">GitHub</a>.</p>
    </header>