<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="dns-prefetch" href="//cloud.typography.com">
    <link rel="dns-prefetch" href="//www.google-analytics.com">
    <title>{% if page.title != 'Homepage' %}{{ page.title }} — {% endif %}{{ site.name }}</title>
    <meta name="author" content="{{ site.author }}">
    <meta name="description" content="{{ site.description }}">
    <style>{% capture styles %}{% include styles.scss %}{% endcapture %}{{ styles | scssify }}</style>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed/">
</head>

<body>
    <header class="site-header {% if page.title == "Homepage" %}site-header--home{% endif %}" role="banner">
        <div class="container">
            <p class="introduction">Hi. I’m <a href="/">{{ site.author }}</a>. {{ site.description }} Follow me on <a href="https://twitter.com/d_leech">Twitter</a> and <a href="https://github.com/danleech">GitHub</a>.</p>
        </div>
    </header>