@import "variables";
@import "mixins/clearfix";
@import "mixins/underlined";
@import "animations";
@import "base";
@import "site-header";
@import "forms";
@import "home-page";
@import "articles-page";
@import "articles";

.container {
    max-width: 36rem;
    margin: 0 auto;
    padding: 0 0.75rem;
    @media (min-width: 600px) {
        padding: 0 1.5rem;
    }
    @media (min-width: 1000px) {
        padding: 0 3rem;
    }
}

.site-main {
    padding: 0 0 3rem;
}

.site-footer {
    margin: 1.5rem 0 0;
    color: $black;
    font-size: 0.75rem;
}