.site-footer {
    color: $color-subtle;
    font-family: $font-ui;
    font-size: 0.8125rem;
    font-weight: 400;
    p {
        margin: $unit-baseline * 3 auto $unit-baseline;
        max-width: $unit-measure;
        padding: 0 $unit-baseline;
    }
}