.text--meta {
    color: $color-subtle;
    font-family: $font;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: $unit-baseline;
    a & {
        color: $color-subtle;
    }
    h1 + & {
        margin-top: 0;
    }
}

.text--home-section-headings {
    // This is so that in-page links to sections are properly spaced.
    margin-top: 0;
    padding-top: $unit-baseline * 2;
}