.hero {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: $unit-baseline;
    margin: $unit-baseline * 3 0;
    max-width: $unit-measure / 1.5;
    @media (min-width: $unit-breakpoint) {
        font-size: 2.25rem;
        line-height: $unit-baseline * 2;
        max-width: $unit-measure;
    }
}
