.site-header {
    @media (min-width: $unit-breakpoint) {
        display: flex;
        justify-content: space-between;
    }
    @media (max-width: 350px) {
        .optional {
            display: none !important;
        }
    }
}

.site-title {
    color: $color-text;
    display: block;
    font-weight: 700;
    padding: $unit-baseline / 2 $unit-baseline 0;
    &:focus, &:hover {
        color: $color-links-hover;
    }
    @media (min-width: $unit-breakpoint) {
        padding: $unit-baseline * 2;
    }
}

.site-nav {
    display: flex;
    list-style: none;
    margin: 0 $unit-baseline * 3/4;
    padding: 0;
    @media (min-width: $unit-breakpoint) {
        margin: 0 $unit-baseline * 7/4;
    }
}

.site-nav__item {
    margin: 0;
    padding: 0;
    a {
        color: $color-text;
        display: block;
        padding: 0 $unit-baseline / 4 $unit-baseline / 2;
        &:focus, &:hover {
            color: $color-links-hover;
        }
        @media (min-width: $unit-breakpoint) {
            padding: $unit-baseline * 2 $unit-baseline / 4;
        }
    }
}
