.case-study-tile {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4.5rem 0 0;
    padding: 0 1.5rem;
    max-width: calc(#{$unit-width});
}

.case-study-tile__image {
    width: 100%;
    img {
        width: 100%;
    }
    @media (min-width: $unit-measure) {
        width: calc(50% - 0.75rem);
    }
}

.case-study-tile__text {
    width: 100%;
    h3 {
        margin: 1.5rem 0;
        padding: 0;
    }
    p {
        padding: 0;
    }
    @media (min-width: $unit-measure) {
        width: calc(50% - 0.75rem);
        h3 {
            font-size: 1.25rem;
            line-height: 1.75rem;
            margin: 0 0 1.5rem;
        }
    }
}