:root {
    font-size: 100%;
    @media (min-width: $unit-breakpoint-large) {
        font-size: 125%;
    }
    @media (min-width: $unit-breakpoint-xlarge) {
        font-size: 150%;
    }
}

a {
    color: $color-blue-700;
    text-decoration: underline;
    &:focus, &:hover {
        color: $color-blue-500;
    }
}

body {
    background-color: $color-white;
    color: $color-grey-900;
    display: flex;
    flex-direction: column;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    -webkit-font-kerning: normal;
            font-kerning: normal;
    font-size: 1rem;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    -webkit-hyphens: none;
        -ms-hyphens: none;
            hyphens: none;
    line-height: 1.5rem;
    margin: 0;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, strong {
    font-weight: 600;
    em {
        font-weight: 400;
    }
}

h1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin: 0 auto 1.5rem;
    max-width: $unit-measure + 3rem;
    padding: 0 1.5rem;
    @media (min-width: $unit-breakpoint-small) {
        font-size: 2.25rem;
        line-height: 3rem;
    }
}

h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 4.5rem auto 1.5rem;
    max-width: $unit-measure + 3rem;
    padding: 0 1.5rem;
    @media (min-width: $unit-breakpoint-small) {
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}

h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 3rem auto 1.5rem;
    max-width: $unit-measure + 3rem;
    padding: 0 1.5rem;
}

li {
    margin: 0.375rem 0 0.375rem 1.5rem;
    padding-left: 0.375rem;
    ul & {
        list-style: disc;
    }
}

ol, ul {
    margin: 1.5rem auto;
    max-width: $unit-measure + 3rem;
    padding: 0 1.5rem;
    ol, ul {
        margin: 0 auto;
    }
}

p {
    margin: 1.5rem auto;
    max-width: $unit-measure + 3rem;
    padding: 0 1.5rem;
}

main {
    flex-grow: 1;
}

table {
    font-variant-numeric: tabular-nums;
}