html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: none;
  -webkit-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

* {

  &,
  &:before,
  &:after {
    box-sizing: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-tap-highlight-color: inherit;
  }

}