.introduction {
    padding: 4.5rem 0 3rem;
    color: $black;
    font-size: 1.2rem;
    text-align: center;
    p {
        max-width: 30rem;
        margin: 0 auto;
    }
    @media (min-width: 600px) {
        padding: 7.5rem 0 7.5rem;
        font-size: 1.5rem;
        line-height: 2.25rem;
    }
}