@media print {
    * {
        color: $color-black !important;
        max-width: none !important;
    }
    html {
        font-size: 12px !important;
    }
    body {
        margin: 3rem 6rem !important;
    }
    .navbar, .footer, .call-to-action {
        display: none !important;
    }
}