$color-background:  #FFF;
$color-links:       #27D;
$color-links-hover: lighten($color-links, 10%);
$color-note:        lighten($color-links, 50%);
$color-subtle:      #999;
$color-text:        #333;
$color-ui:          #EEE;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$unit-baseline: 1.75rem;
$unit-breakpoint: 45rem;
$unit-measure:  45rem;
