$color-background:  #F9FCFF;
$color-links:       #1976D2;
$color-links-hover: lighten($color-links, 10%);
$color-note:        lighten($color-links, 50%);
$color-subtle:      #999;
$color-text:        #234;
$color-ui:          #E0E3E6;

$font-content: Lora, serif;
$font-ui:      Roboto, sans-serif;

$unit-baseline: 1.75rem;
$unit-breakpoint: 45rem;
$unit-measure:  45rem;