{% include header.html %}
        <div class="hero">
            {{ content }}
        </div>
        <h2 class="text--home-section-headings" id="articles">Articles</h2>
        <ul class="list--index">{% for post in site.posts %}
            <li class="list--index__item">
                <a href="{{ post.url }}">
                    {{ post.title}}
                    <span class="text--meta">{{ post.date | date: "%-d %B %Y"}}</span>
                </a>
            </li>{% endfor %}
        </ul>
        <h2 class="text--home-section-headings" id="projects">Projects</h2>
        <ul class="list--tiles">
            {% for project in site.data.projects.projects %}
            <li class="list--tiles__item"><a href="{{ project.url }}" style="background-color: #{{ project.colour }}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
{% include footer.html %}